# Dependencies
node_modules/
.pnp
.pnp.js

# Production Build
dist/
dist-ssr/

# Environment
.env
.env.local
.env.*.local

# Vite
*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
